.purchase-rentpayment-container {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: scroll;
    scroll-behavior: smooth;
}

.sign-container {
    width: 100%;
    height: 4%;
    position: relative;
}

.sign-icon {
    width: 1.4%;
    height: 70%;
    position: absolute;
    color: white;
    font-size: 20px;
    cursor: pointer;
    inset-inline-start: 94%;
    inset-block-start: 80%;
}

.sign-icon:active {
    transform: scale(0.8);
}

.purchase-container {
    width: 100%;
    min-height: min-content;
    margin-bottom: 8%;
}


.heading {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    width: 26%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid rgb(202, 49, 49);
}

.purchase-container {
    width: 100%;
    min-height: min-content;
}

.purchased-items {
    width: 100%;
    /* min-height: max-content; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.purchased-item {
    width: 80%;
    height: 80%;
    margin: 10%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.purchased-item:hover {
    background-color: #8B008B;
    transition: all 2s;
}

.purchased-item h2 {
    color: white;
}


.purchased-item h3 {
    color: white;
}

.purchased-item h4 {
    color: white;
}

.button-div {
    width: 24%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button-1 {
    width: 30%;
    cursor: pointer;
}


.button-div span {
    color: white;
}


/* ................................rentpayment-container................................... */

.rentpayment-container {
    width: 100%;
    min-height: min-content;
    margin-bottom: 5%;
    padding-bottom: 10%;
}

.rentpayment-items {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.rentpayment-item:hover {
    background-color: rgb(150, 29, 29);
    transition: all 2s;
}

.rentpayment-item {
    width: 80%;
    height: 90%;
    margin: 10%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rentpayment-item h2 {
    color: white;
}


.rentpayment-item h3 {
    color: white;
}

.rentpayment-item h4 {
    color: white;
}

.button-div {
    width: 24%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button-1 {
    width: 30%;
    cursor: pointer;
}

.button-div span {
    color: white;
}

.pay-button-container {
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pay-button {
    width: 20%;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;

}

.pay-button:active {
    transform: scale(0.9);
}


/* .............................media screen.................................... */


@media screen and (max-width: 768px) {
    .purchased-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .purchased-item {
        padding: 6%;
        margin: 4%;
    }

    .purchased-item h2 {
        text-align: center;
    }

    .purchased-item h3 {
        display: none;
    }

    .pay-button {
        width: 50%;

    }

    .heading h1 {
        width: 90%;
    }

    .sign-icon {
        inset-inline-start: 90%;
        inset-block-start: 60%;
    }


    .rentpayment-items {
        grid-template-columns: repeat(1, 1fr);

    }

    .rentpayment-item {
        margin: 4%;
        padding: 6%;
        width: 80%;
        height: 80%;
    }

    .rentpayment-item h2 {
        text-align: center;
    }

    .rentpayment-item h3 {
        display: none;
    }

    .pay-button-container {
        margin-bottom: 10%;
    }

    .button-div {
        width: 60%;
        height: 60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .purchased-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .purchased-item {
        padding: 6%;
        margin: 4%;
    }

    .purchased-item h2 {
        text-align: center;
    }

    .purchased-item h3 {
        display: none;
    }

    .pay-button {
        width: 50%;

    }

    .heading h1 {
        width: 40%;
    }

    .sign-icon {
        inset-inline-start: 95%;
        inset-block-start: 60%;
    }



    .rentpayment-items {
        grid-template-columns: repeat(2, 1fr);

    }

    .rentpayment-item {
        margin: 4%;
        padding: 6%;
        width: 80%;
        height: 80%;
    }

    .rentpayment-item h2 {
        text-align: center;
    }

    .rentpayment-item h3 {
        display: none;
    }

    .pay-button-container {
        margin-bottom: 10%;
    }

    .button-div {
        width: 60%;
        height: 60px;
    }
}
